<!-- [ navigation menu ] start -->
	<nav class="navbar navbar-expand-lg" style="background: var(--bs-dark); width: 100%; ">
		<div class="row navbar-nav collapse navbar-collapse" id="navbarMenu">
			<ul class="navbar-nav mr-auto inline">
				<li class="nav-item col-2 left">
					<a href="/" class="col navbar-nav navbar-brand nav-link" style="padding-left:20px;">
						<!-- ========   change your logo hear   ============ -->REVEST
						&nbsp;<img src="/assets/logo-sm.png" alt="" class="logo logo-sm">
					</a>
				</li>

				<li class="nav-item col-1 left">
					<a href="/" class="nav-link ">
						<span class="inline">Dashboard</span>
					</a>
				</li>
				
				<li class="nav-item col-1 left dropdown">
					<a href="#" class="nav-link dropdown-toggle" id="cadastro"
					data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="inline">Sistema</span>
					</a>
					<div class="dropdown-menu dropdown-menu-dark" aria-labelledby="cadastro">
						<a class="dropdown-item" href="/grupo_recursos">Grupo de Recurso</a>
						<a class="dropdown-item" href="/recursos">Recurso</a>
						<a class="dropdown-item" href="/suppliers">Fornecedor</a>
						<a class="dropdown-item" href="/clients">Clientes</a>
						<a class="dropdown-item" href="/tabela_compras">Tabela Fornecedores</a>
					</div>
				</li>
				
				<li class="nav-item col-1 left">
					<a href="" class="nav-link ">
						<span class="inline">Acessos</span>
					</a>
				</li>
						
				<li class="nav-item dropdown col-7 right">
					<a href="#" class="nav-link dropdown-toggle" id="navbarMenuDrop" 
					data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="inline">
						<% if user_signed_in? %>
							<%= current_user.email %>
						<% else %>
							<%= "perfil" %>
						<% end %>
						</span>
					</a>
					<div class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarMenuDrop">
						<% if user_signed_in? %>
							<a class="dropdown-item" href="#">Perfil</a>
						<% else %>
							<%= link_to 'Entrar', user_session_path, class: "dropdown-item" %>
						<% end %>
						<%= link_to 'Sair', destroy_user_session_path, :method => :delete , class: "dropdown-item" %>
					</div>
				</li>
					
				</ul>
			</div>
		
	</nav>
	<!-- [ navigation menu ] end -->
