<%= render "form", client: @client %>
<br>

<div class="col-12">
  <%= link_to "Detalhes do Cliente", @client, class: "btn btn-secondary" %> |
  <%= link_to "Lista de Clientes", clients_path, class: "btn btn-secondary" %>
</div>
