<h1>Editing tabela compra</h1>

<%= render "form", tabela_compra: @tabela_compra %>

<br>

<div>
  <%= link_to "Show this tabela compra", @tabela_compra %> |
  <%= link_to "Back to tabela compras", tabela_compras_path %>
</div>
