<%= render "form", recurso: @recurso %>
<br>

<div class="col-12">
  <%= link_to "Mostrar Recurso", @recurso, class: "btn btn-secondary"  %> |
  <%= link_to "Lista de Recursos", recursos_path, class: "btn btn-secondary"  %>
</div>
