<%= render "form", supplier: @supplier %>
<br>

<div class="col-12">
  <%= link_to "Detalhes do Fornecedor", @supplier, class: "btn btn-secondary" %> |
  <%= link_to "Lista de Fornecedores", suppliers_path, class: "btn btn-secondary" %>
</div>
